<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login to IonicNote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-img src="https://robohash.org/ionicnote"></ion-img>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="john@doe.com" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="12345678" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Remember Me</ion-label>
      <ion-checkbox color="danger" slot="start" [(ngModel)]="user.remember"></ion-checkbox>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" fill="outline" (click)="goToSignup()">Sign Up</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="login()">Login</ion-button>
      </ion-col> 
    </ion-row>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
    <ion-button expand="block" color="light" fill="clear">Forgot Password</ion-button>
  </ion-toolbar>
</ion-footer>
